<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
<div class="main">
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :status %>
      <%= form.text_field :status, class:"form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :start_date %>
      <%= form.date_select :start_date, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :end_date %>
      <%= form.date_select :end_date, class:"form-control" %>
    </div>
  </div>
  <div class="form-group col-md-6">
    <%= form.label :content %>
    <%= form.text_area :content, class:"form-control", id:"exampleFormControlTextarea1", rows:"3" %>
  </div>
  <div class="form-group col-md-6">
    <%= form.label :priority %>
    <%= form.text_field :priority, class:"form-control" %>
  </div>
  <% if logged_in? %>
  <div class="form-group col-md-6">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <% end %>
  <% Label.all.each do |label| %>
  <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <label style = "background-color: aquamarine; width: auto;" > <%= label.name %> </label>
  <% end %>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
</div>
</center>
<% end %>
