<p id="notice"><%= notice %></p>
<center>
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>
<%= link_to 'Comfirm', tasks_path %> |
<%= link_to 'back', edit_task_path(@task) %>
</center>
